@charset "UTF-8";

.punto {
  list-style-type: none;
  background-color: grey;
}

.carrousel {
  width: 70%;
  max-width: 120em;
  margin: auto;
  overflow: hidden;

}

.carrousel .grande {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% - 2em);
  margin: auto;
  min-width: 25%;
}

.carrousel .puntos {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
}

.carrousel .punto.activo {
  background-color: var(--morado);
}

/*CAMBIA EL TAMAÑO DE IMAGEN PARA QUE SE ADAPTE A CHROM*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .carrousel .img {
    width: calc( 25% - 2em);
  }
}